{
  "extends": ["./.config/.eslintrc", "./eslint.config.js"]
  // "ignorePatterns": ["tests/"],
  // "plugins": ["react-refresh"],
  // "rules": {
  //   "react-refresh/only-export-components": ["warn", { "allowConstantExport": true }],
  //   "@typescript-eslint/no-non-null-assertion": "off",
  //   "@typescript-eslint/no-empty-function": "off",
  //   "eslint/no-unused-vars": "off",
  //   "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }]
  // }
}
